body {
    background-color: #185EAB;
    padding: 0;
    margin:0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    display: flex;
    width:100%;
    position:sticky;
    top:0;
    background:white;
}

input {
    width: 100%;
    border: 1px solid lightgray;
    border-right: none;
    padding: 5px;

}

button {
    width: 40%;
    border: 1px solid darkblue;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #2b428f;
    color: white;
}

button:active {
    background-color: #2b4270;
}

.profilepage {
    float:right;
}
.appicon {
    float:left;
}
.searchbar {
    margin:auto;
    display: flex;
    position: center;
    width: 40%;
}

.icon {
    width:50px;
    height:40px;
}

nav + div {
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
    width:50%;
    position: center;
    margin: auto;
}
.note {
    margin: auto auto 10px auto;
    padding:5px;
    display:flex;
    flex-direction: column;
    width:75%;
    box-shadow: 0 0 10px grey;
    border-radius: 4px;
}

.profilepicture {
    float:left;
}
.date {
    float:right
}

.image {
    width:100%;
}

.note button {
    width:75px;
    height: 50px;
}

.notetext {
    text-align: left;
}
.like > :first-child{
    width:100%;
    height:95%;
    filter: brightness(0) invert(100%);
}